doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')

        
  body(ng-app="grumpy-twitter")
    #background
    block content
    script(type="text/javascript", src="components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="components/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="javascripts/app.js")
