doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
        
  body(ng-app="grumpy-twitter")
    block content
    script(type="text/javascript", src="javascripts/app.js")
